nav {
  position: fixed;
  background: #222;
  color: #fff !important;
  height: 50px;
  width: 100vw;
  display: table; }
  nav .brand {
    float: left;
    position: relative; }
    nav .brand a {
      transition: all 0.25s ease;
      cursor: pointer !important;
      display: inline-block;
      color: white;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none; }
      nav .brand a:hover {
        color: inherit; }
  nav ul.navbar {
    float: right;
    text-align: right;
    height: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: table; }
    nav ul.navbar li.link {
      position: relative;
      right: 0px;
      display: inline;
      transition: background-color 0.25s;
      padding: 23px 0px; }
      nav ul.navbar li.link:hover, nav ul.navbar li.link.active {
        background: #fff;
        border-bottom: 5px solid black;
        color: black !important; }
      nav ul.navbar li.link a {
        transition: all 0.25s ease;
        cursor: pointer !important;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none; }
        nav ul.navbar li.link a:hover {
          color: inherit; }
  nav li.drop {
    position: relative;
    right: 0px;
    display: inline;
    transition: background-color 0.25s;
    padding: 23px 0px; }
    nav li.drop:hover, nav li.drop.active {
      background: #090808;
      border-bottom: 5px solid black;
      color: white !important; }
  nav .dropdown {
    transition: all 0.25s ease;
    cursor: pointer !important;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none; }
    nav .dropdown:hover {
      color: inherit; }
    nav .dropdown .dropdown-content {
      background-color: #090808;
      transition: all 0.25s;
      display: none;
      position: absolute;
      z-index: 1;
      top: 64px;
      width: auto;
      text-align: center;
      right: 0px; }
    nav .dropdown .dropdown-content a {
      color: white;
      text-decoration: none;
      display: block;
      width: 96px;
      margin: 0px;
      padding: 15px;
      text-align: center;
      transition: background .25s, color .25s; }
      nav .dropdown .dropdown-content a:hover {
        background: black;
        color: white; }
    nav .dropdown:hover .dropdown-content {
      display: block; }
