body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

a, button {
    font-family: 'Ubuntu', sans-serif;
}

td, th {
    font-family: 'Ubuntu', sans-serif;
}

form {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0;
    padding: 0;
}

form input {
    background: transparent;
    border: none;
    outline: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main {
    padding-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

main aside, main article, main section {
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid #b1b1b1;
}

main .hotel, main .user {
    width: 100%;
}

main .hotel .img{
    height: 200px;
    background-size: cover;
    border-radius: 5px;
}

main .hotel h1, main .user h1, main .summary h1, main .insert h1 {
    color: #616161;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

main .hotel p, main .user p {
    color: #616161;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

main .hotel button, main .user button, main .insert form.flex div button {
    border: 0;
    background: #123456;
    color: #FFF;
    padding: 15px;
    text-align: center;
    transition: background 0.4s, color 0.4s;
}

main .hotel button:hover, main .user button:hover, main .insert form.flex div button:hover {
    background: #FFF;
    color: #123456;
    outline: #123456 solid 1px;
}

main .user .img {
    height: 75px;
}

main .user button {
    margin-left: 5px;
    margin-right: 5px;
}

main div.flex {
    flex-grow: 0;
    flex-direction: column;
}

main div.left-part {
    order: 1;
}

main div.center-part {
    order: 2;
}

main .search, main .insert {
    width: 96%;
    padding: 10px;
}

main .search form, {
    padding: 10px;
}

main .search input, main .search select, main .insert input {
    height: 40px;
    color: #616161;
}

main .search input:focus {
    text-transform: uppercase;
}

main .search input::-webkit-input-placeholder {
    text-transform: initial;
}

main .search select {
    border: 0;
    outline: none;
}

main .insert form.flex {
    justify-content: space-around;
}

main .insert form.flex div {
    display: grid;
    flex-basis: 45%;
    border-bottom: 1px solid #b1b1b1;
}

main .insert input {
    width: 100%;
}

main .summary {
    flex-grow: 2;
    order: 3;
    padding: 10px;
}

main .summary div {
    margin-top: 25px;
    border-top: 1px solid #b1b1b1;
}

main .summary div h1 {
    font-weight: 300;
    font-size: 20px;
}

main .summary div h2 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

footer {
    background: #263d5f;
    padding: 10px;
}

footer p {
    color:#b1b1b1;
    font-size: 10px;
}

@media screen and (max-width: 950px), screen and (max-device-width: 950px) {
    nav form {
        display: none;
    }

    nav .account {
        display: none;
    }

    nav h1 {
        display: none;
    }

    nav div {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    nav a {
        font-size: 15px;
    }


    main .search, main .insert {
        width: initial;
    }

    main .insert form.flex div {
        flex-basis: 90%;
    }

    main .insert form.flex div.button {
        flex-basis: 100%;
    }
}